.access-nav {
  display: flex;
  gap: 1.875rem;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.access-nav .nav-button {
  max-width: 5rem
}

.access-nav span {
  margin: auto;
}

.access-nav hr {
  margin-top: 0.5rem;
}
