.access-nav {
  display: flex;
  gap: 1.875rem;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: underlined;
  cursor: pointer;
  user-select: none;
}

.access-nav .nav-button {
  max-width: 5rem
}

.access-nav span {
  margin-right: 1.875rem;
}
