.login {

}

.login .error-banner-container {
  height: 1.5rem;
}

.login .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .buttons-container p {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.login .notes h3 {
  font-size: 12px;
}

.login .notes p {
  font-size: 14px;
}
