.login {

}

.login .error-banner-container {
  margin-bottom: 0.875rem;
  height: 1.5rem;
}

.login .buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.login .buttons-container p {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.login .notes hr {
  border-color: hsla(var(--white), 0.1);
  margin-bottom: 0.75rem;
}

.login .notes h3 {
  margin-bottom: 0.313rem;
  font-size: 12px;
}

.login .notes p {
  font-size: 14px;
}
