.intro-texts {
  /* display: flex; */
  width: 41.625rem;
}

.intro-texts .content h1 {
  margin-bottom: 0.313rem;
  font-size: 3rem;
}

.intro-texts .content p {
  margin-bottom: 0.5rem;
  font-size: 1.188rem;
}

.intro-texts .content h3 {
  margin-bottom: 1.625rem;
  font-size: 1.5rem;
}

.intro-texts .image-container {

}