.intro-texts h1 {
  margin-bottom: 0.313rem;
  font-size: 3rem;
}

.intro-texts p {
  margin-bottom: 0.5rem;
  font-size: 1.188rem;
}

.intro-texts h3 {
  margin-bottom: 1.625rem;
  font-size: 1.5rem;
}
